{% extends "volunteer_activity/home.html" %}

{% block content %}
   <div class="container">
     <div class="row">
        <div class="col">
          <br><br><h1 style="text-align:center;">About Us</h1><br>
        </div>

        <div class="w-100"></div>

        <div style="text-align:center;" class="col text-center" id="link-tags">
          <p style="text-align: left; padding-left: 15%; padding-right: 15%; padding-top: 30px">Mid-City Gives Back is a volunteer portal organization that helps volunteers to signup and track their volunteering hours. Mid-city  project is being handled by team 4 from MSD class</p><br>
          <p style="text-align: left; padding-left: 15%; padding-right: 15%">This is just a test document. Getting ready to make the first push. This about us page contains description about the main features of the project and why this organization is started.
            This also includes the mission statement of the organization and also covers the different types of organiztions that are a part of our Mid city organization</p><br> <!-- List of events, linked to event detials page. -->
        </div>

     </div>
   </div>

{% endblock %}


