{% extends 'volunteer_activity/base.html' %}

{% block content %}
<div class="container col-sm-4">

  <br><br><h1 style="text-align:center; font-family:LemonMilk; font-size: 27px">Edit Event</h1><br>

   <form method="POST" class="...">{% csrf_token %}
     <div class="form-group">
       <label class="font-weight-bold" for="{{ form.organization.label_tag }}</label>
       <input type="text" class="form-control" id="{{ form.organization }}
     </div>
     <div class="form-group">
       <label class="font-weight-bold" for="{{ form.type.label_tag }}</label>
       <input type="text" class="form-control" id="{{ form.type }}
     </div>
     <div class="form-group">
       <label class="font-weight-bold" for="{{ form.location.label_tag }}</label>
       <input type="text" class="form-control" id="{{ form.location }}
     </div>
     <div class="form-group">
       <label class="font-weight-bold" for="{{ form.short_description.label_tag }}</label>
       <textarea class="form-control" rows="3" id="{{ form.short_description }}</textarea>
     </div>
     <div class="form-group">
       <label class="font-weight-bold" for="{{ form.description.label_tag }}</label>
       <textarea class="form-control" rows ="8" id="{{ form.description }}</textarea>
     </div><div class="form-group">
       <label class="font-weight-bold" for="{{ form.start_date.label_tag }}</label>
       <input type="text" class="form-control" id="{{ form.start_date }}
     </div>
     <div class="form-group">
       <label class="font-weight-bold" for="{{ form.time.label_tag }}</label>
       <input type="text" class="form-control" id="{{ form.time }}
     </div><div class="form-group">
       <label class="font-weight-bold" for="{{ form.number_volunteers.label_tag }}</label>
       <input type="text" class="form-control" id="{{ form.number_volunteers }}
     </div>
     <br>

       <div class="col text-center">
         <button type="submit" class="btn btn-success btn-raised">Save</button>
       </div>
   </form>
 </div><br><br>
{% endblock %}
