{% extends "volunteer_activity/base.html" %}

{% block content %}

   <div class="container">
     <div class="row">
        <div class="col">
          <br><br><h1 style="text-align:center; font-size:27px; font-family:LemonMilk;">Events</h1><br>
        </div>
        <div class="w-100"></div>

        <div class="container">
	<div class="row">
        <div class="col-md-4 mx-auto" style="margin-bottom:40px">
    		<!-- <h2>Custom search field</h2> -->
            <!-- <div class="custom-search-input"> -->
                <form class="input-group col-md-12" method="GET" action="">
                    <input type="text" class="form-control input-lg" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search Event title" />
                </form>
            <!-- </div> -->
        </div>
	</div>
</div>

        <!-- <div class="col-md-12 mx-auto" style="margin-bottom:20px">
            <form class="custom-search-input" method="GET" action="" id="searchform">
                <input class="custom-search-input" id="searchbox" name="q" type="text" value="{{ request.GET.q }}" placeholder="Search Event Title..."/>
            </form>
        </div> -->

            {% for event in object_list %}
            <div class="col-md-4 mx-auto">
              <div
                    class="card-1 w-100 bg-dark text-secondary mb-3">
                <div class="card-header bg-dark text-secondary">{{ event.start_date }}
                </div>
                <div class="card-body">
                <a style="text-decoration:none" class="card-title card-font-events text-info font-weight-bold " href="{% url 'volunteer_activity:event_details' event.event_num %}">{{ event.organization }}</a>
                <p class="card-text">{{ event.short_description }}</p>

                <a style="text-dark; margin-right: 15px" href="{% url 'volunteer_activity:event_details' event.event_num %}" class="btn btn-info">View details</a>
                <a style="text-dark" href="{% url 'volunteer_activity:signup' event.event_num %}" class="btn btn-success">Sign Up</a>

              </div>
            </div>
           <br>
          </div>
            {% endfor %}
            <!-- </tbody>
        </table> -->

    </div><br>


     </div>
   <!-- </div> -->

{% endblock %}
