{% extends "volunteer_activity/base.html" %}
{% block content %}
   <!-- main content goes here -->

   <div class="container">
        {% if user.is_authenticated %}
<br><br><h1 style="text-align:center; font-family:LemonMilk; font-size: 27px" class="text-danger">Welcome {{ user.username }}</h1><br><br>

        {% endif %}

        {% if user.is_staff %}
        <div class="row">
            <!-- <div class="col">
                <br><br><h1 style= "text-align:center;font-family:LemonMilk; font-size: 20px">Manage Activity and Reports</h1>
            </div>

            <div class="w-100"></div> -->

            <div class="w-100"></div>

            <div class="col text-center">
                <a href="{% url 'volunteer_activity:manage_activity' %}" class="btn btn-raised btn-info center-block">Manage Activity</a><br><br>
            </div>

        </div>
        {% endif %}

        <div class="row">
            <div class="col">
                <br><br><h1 style="text-align:center; font-family:LemonMilk; font-size: 20px">Upcoming Events</h1><br>
            </div>

            <div class="w-100"></div>


            <div style="text-align:center" class="col" id="link-tags">
                <table style=" box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);" class="table table-bordered table-inverse">
                    <thead>
                    <tr class="table table-bordered table-inverse bg-dark text-light">
                        <th class="text-center text-info">EVENT TITLE</th>
                        <th class="text-center text-info">DATE</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for event in events %}
                        <tr>
                            <td class="bg-dark text-secondary">{{ event.organization }}</td>
                            <td class="bg-dark text-secondary">{{ event.start_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>



        <div class="w-100"></div>

        <br><div class="col text-center">
            <a href="{% url 'volunteer_activity:events' %}" class="btn btn-raised btn-info center-block">View All Events</a><br><br>
        </div>


       {% if user.is_authenticated %}
        <div class="row">
            <div class="col">
                <br><br><h1 style="text-align:center;font-family:LemonMilk; font-size: 20px">My Activity - {{ user.username }}</h1><br>
            </div>

            <div class="w-100"></div>

            <div style="..." class="col text-center" id="link-tags">
                <table style=" box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);" class="table table-bordered table-inverse">
                    <thead>
                    <tr class="table table-bordered bg-dark text-light">
                        <th class="text-center text-info">EVENT TITLE</th>
                        <th class="text-center text-info">DATE</th>
                        <th class="text-center text-info">HOURS</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for userevent in userevents %}
                        <tr class="">
                            <td class="text-center bg-dark text-secondary">{{ userevent.event_num.organization }}</td>
                            <td class="text-center bg-dark text-secondary">{{ userevent.event_num.start_date }}</td>
                            <td class="text-center bg-dark text-secondary">{{ userevent.hours }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

        <div class="w-100"></div>

      <br>  <div class="col text-center">
            <a href="{% url 'volunteer_activity:tracking' %}" class="btn btn-raised btn-info center-block">Track My Hours</a><br><br>
        </div><br>
        {% endif %}



   </div>

   {% endblock %}
