{% extends "volunteer_activity/base.html" %}

{% block content %}
    {% if user.is_staff %}
    <div class="container">
        <div class="row">
            <div class="col">
                <br><br><h1 style="text-align:center; font-family:LemonMilk; font-size: 27px">Manage Activity</h1><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
               <br><br><h2 style="text-align:center; font-family:LemonMilk; font-size: 20px">Volunteers</h2><br>
            </div>
        </div>

        <div style=" box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); overflow:scroll; max-height:400px;" class="col text-center" id="link-tags">
            <table style=" box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);" class="table table-bordered table-inverse">
                <thead>
                <tr class="table table-bordered table-inverse bg-dark text-light">
                    <th class="text-center text-info">USER NAME</th>
                    <th class="text-center text-info">LAST NAME</th>
                    <th class="text-center text-info">FIRST NAME</th>
                    <th class="text-center text-info">EMAIL</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr class="table table-bordered table-inverse bg-dark text-light">
                            <td class="bg-dark text-secondary">{{ user.username }}</td>
                            <td class="bg-dark text-secondary">{{ user.last_name }}</td>
                            <td class="bg-dark text-secondary">{{ user.first_name }}</td>
                            <td class="bg-dark text-secondary">{{ user.email }}</td>
                            <td><a href="{% url 'volunteer_activity:volunteer_edit' pk=user.pk %}"class="btn btn-warning">Edit</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div><br><br>

        <div class="col text-center">
            <a style="margin-right: 25px" href="{% url 'volunteer_activity:volunteer_add' %}" class="btn btn-raised btn-info center-block">Add Volunteer</a>
               <a class="btn btn-raised btn-info center-block">Export Volunteer Report</a><br><br>
        </div>

<!-- ........................................................................................................................................... -->

        <div class="row">
            <div class="col">
                <br><br><h2 style="text-align:center; font-family:LemonMilk; font-size: 20px">Volunteer Activity</h2><br>
            </div>
        </div>

        <div style=" box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); overflow:scroll; max-height:400px;" class="col text-center" id="link-tags">
            <table style=" box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);" class="table table-bordered table-inverse bg-dark text-light">
                <thead>
                    <tr class="table table-bordered table-inverse bg-dark text-light">
                        <th class="text-center text-info">User Name</th>
                        <th class="text-center text-info">Event Title</th>
                        <th class="text-center text-info">Date</th>
                        <th class="text-center text-info">Hours</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for userevent in userevents %}
                    <tr class="table table-bordered table-inverse bg-dark text-light">
                        <td class="bg-dark text-secondary">{{ userevent.user_num }}</td>
                        <td class="bg-dark text-secondary">{{ userevent.event_num.organization }}</td>
                        <td class="bg-dark text-secondary"> {{ userevent.event_num.start_date }}</td>
                        <td class="bg-dark text-secondary">{{ userevent.hours }}</td>
                        <td><a href="{% url 'volunteer_activity:volunteer_activity_edit' pk=userevent.pk %}" class="btn btn-warning">Edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
        </div> <br> <br>

        <div class="col text-center">
            <a style="margin-right: 25px" href="{% url 'volunteer_activity:volunteer_activity_add' %}" class="btn btn-raised btn-info center-block">Add Activity Record</a>
              <a class="btn btn-raised btn-info center-block">Export Activity Report</a><br><br>
        </div>
<!-- .................................................................................................................................... -->


        <div class="row">
            <div class="col">
                <br><br><h2 style="text-align:center; font-family:LemonMilk; font-size: 20px">Event Activity</h2><br>
            </div>
        </div>

        <div style=" box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); overflow:scroll; max-height:400px;" class="col text-center" id="link-tags">
            <table style=" box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);" class="table table-bordered table-inverse bg-dark text-light">
                <thead>
                    <tr class="table table-bordered table-inverse bg-dark text-light">
                        <th class="text-center text-info">Event Title</th>
                        <th class="text-center text-info">Date</th>
                        <th class="text-center text-info">Time</th>
                        <th class="text-center text-info">Volunteers Needed</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr class="table table-bordered table-inverse bg-dark text-light">
                        <td class="bg-dark text-secondary"> {{ event.organization }}</td>
                        <td class="bg-dark text-secondary"> {{ event.start_date }}</td>
                        <td class="bg-dark text-secondary"> {{ event.time }}</td>
                        <td class="bg-dark text-secondary"> {{ event.number_volunteers }}</td>
                        <td class="bg-dark text-secondary"> <a href="{% url 'volunteer_activity:event_activity_edit' pk=event.pk %}" class="btn btn-warning">Edit</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
        </div><br><br>

        <div class="col text-center">
            <a style="margin-right: 25px" href="{% url 'volunteer_activity:event_activity_add' %}" class="btn btn-raised btn-info center-block">Add Event</a>
             <a class="btn btn-info btn-raised center-block">Export Event Report</a><br><br>
        </div>

    </div><br><br>

    {% endif %}

{% endblock %}
