{% extends "volunteer_activity/home.html" %}

{% block content %}

   <div class="container">
     <div class="row">
        <div class="col">
          <br><br><h1>register</h1><br>


          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputfirstname" class="col-form-label">First Name</label>
                <input type="text" class="form-control" id="inputfirstname" placeholder="First Name">
              </div>
              <div class="form-group col-md-6">
                <label for="inputlastname" class="col-form-label">Last Name</label>
                <input type="text" class="form-control" id="inputlastname" placeholder="Last Name">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4" class="col-form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4" class="col-form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputPhone" class="col-form-label">Phone</label>
                <input type="number" class="form-control" id="inputphone">
              </div>
              <div class="form-group col-md-3">
                <label for="inputgender" class="col-form-label">Gender</label>
                <select id="inputgender" class="form-control">Choose</select>
              </div>
              <div class="form-group col-md-2">
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox"> I agree to the terms and conditions of using this portal.
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>

        </div>
     </div>
   </div>

{% endblock %}
