{% extends "volunteer_activity/base.html" %}

{% block content %}
   <div class="container">
     <div class="row">
        <div class="col">
          <br><br><h1 style="text-align:center; font-family:Multicolore; font-size: 30px">Registration Page</h1><br>
        </div>

        <div class="w-100"></div>

        <h1>Create an account</h1>
		<p>Please, sign up using the following form:</p>
		<form action="." method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Create my account"></p>
    </form>

     </div>
   </div>

{% endblock %}