{% extends 'volunteer_activity/base.html' %}

{% block content %}
<div class="container col-sm-4">

  <br><br><h1 style="text-align:center; font-family:LemonMilk; font-size: 27px">Edit Activity</h1><br><br>
    <form method="POST" class="...">{% csrf_token %}
      <div style="visibility: hidden; display: none; ">
        {{ form.as_p }}
      </div>
        <div class="form-group">
          <label class="font-weight-bold"  for="{{ form.hours.label_tag }}</label>
          <input type="text" class="form-control" id="{{ form.hours }}
        </div><br>
        <div class="col text-center">
        <button type="submit" class="save btn btn-raised btn-success">Update</button>
      </div>
    </form>
{% endblock %}
