{% extends "volunteer_activity/base.html" %}

{% block content %}

   <div class="container">
     <div class="row">
         <div class="col">
             <br><br><h1 style="text-align:center; font-family:LemonMilk; font-size: 27px">User Information - {{ user.username }} </h1><br>
         </div>
        <div class="w-100"></div>

         <div class="col">
             <br><br><p style="text-align:center;"><a  class="btn rounded btn-outline-warning btn-sm"
                            href="{% url 'password_change' %}">Change Password</a><br></p>
         </div>

        <div class="w-100"></div>

        <div class="col">
          <br><br><h1 style="text-align:center; font-family:LemonMilk; font-size: 27px">Activity - {{ user.username }} </h1><br>
        </div>

        <div class="w-100"></div>

    <div style="..." class="col text-center" id="link-tags">
        <table style=" box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);" class="table table-bordered table-inverse">
            <thead>
            <tr class="bg-dark text-info">
                <th class="text-info">EVENT TITLE</th>
                <th class="text-info">DATE</th>
                <th class="text-info">HOURS</th>
                <th class="text-info"></th>
            </tr>
            </thead>
            <tbody>
            {% for userevent in userevents %}
                <tr class="bg-dark">
                    <td class="text-secondary">{{ userevent.event_num.organization }}</td>
                    <td class="text-secondary"> {{ userevent.event_num.start_date }}</td>
                    <td class="text-secondary">{{ userevent.hours }}</td>
                    <td><a href="{% url 'volunteer_activity:tracking_edit' pk=userevent.pk %}" class="btn btn-warning">Edit</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

        <div class="w-100"></div><br><br>


     </div>
   </div>

{% endblock %}
