{% extends "volunteer_activity/base.html" %}

{% block content %}
    <div class="container col-sm-4">
      <br><br><h1 style="text-align:center; font-family:LemonMilk; font-size: 27px">Sign in</h1><br>
        <div class="row">
            <div class="col">

                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                <div class="form-group">
                <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                    <div class="form-group">
                      <label for="{{ form.username.label_tag }}</label>
                      <input type="text" class="form-control" id="{{ form.username }}
                      <small id="emailHelp" class="form-text text-muted"</small>
                    </div>
                    <div class="form-group">
                      <label for="{{ form.password.label_tag }}</label>
                      <input type="password" class="form-control" id="{{ form.password }}
                    </div><br>

                    <!-- <button type="submit" class="btn btn-primary">Submit</button>






                     <table>
                         <tr>
                             <td>{{ form.username.label_tag }}</td>
                             <td>{{ form.username }}</td>
                         </tr>
                         <tr>
                             <td>{{ form.password.label_tag }}</td>
                             <td>{{ form.password }}</td>
                         </tr>
                    </table> -->

              </form>
              <div class="text-center">
              <input class="btn btn-raised btn-success" type="submit" value="login"/>
              <input type="hidden" name="next" value="{{ next }}"/>

        <p><a href="{% url "password_reset" %}">Forgot password?</a></p>
            </div>
          </div>
            </div>
        </div>
    </div>

{% endblock %}
