{% extends "volunteer_activity/base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="container col-sm-4">
  <br><br><h1 style="text-align:center; font-family:LemonMilk; font-size: 27px">Reset your password</h1><br>
    {% if validlink %}
        <p class="text-center">Please enter your new password twice. Also make sure you follow the following instructions to set your new password.</p>
        <ul><li>Your password can't be too similar to your other personal information.</li>
          <li>Your password must contain at least 8 characters.</li>
          <li>Your password can't be a commonly used password.</li>
          <li>Your password can't be entirely numeric.</li>
        </ul>
        <form action="." method="post">
            <!-- {{ form.as_p }} -->
            {% csrf_token %}
            <p><label for="id_new_password1">New password:</label>
               <input class="form-control" type="password" name="new_password1" required="" id="id_new_password1">
                <span class="helptext"></span>
              </p>
              <p><label for="id_new_password2">New password confirmation:</label>
                <input class="form-control" type="password" name="new_password2" required="" id="id_new_password2"></p>

                <div class="col text-center">
                  <input class="btn btn-raised btn-success" type="submit" value="Reset"/>
                </div>

                </form>


    {% else %}
        <p class="text-center">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
