{% extends "volunteer_activity/base.html" %}

{% block title %}Change you password{% endblock %}

{% block content %}
<div class="container col-sm-4">
  <br><br><h1 style="text-align:center; font-family:LemonMilk; font-size: 27px">Change Password</h1><br>
  <div class="row">
      <div class="col">

          <!-- {% if form.errors %}
              <p>Your username and password didn't match. Please try again.</p>
          {% endif %} -->
          <div class="form-group">
          <form action="." method="post">
              <!-- {{ form.as_p }} -->

            <br>  <div class="form-group">
                <label for="{{ form.old_password.label_tag }}</label>
                <input type="password" class="form-control" id="{{ form.old_password }}
              </div><br>

              <div class="form-group">
                <label for="{{ form.new_password1.label_tag }}</label>
                <input type="password" class="form-control" id="{{ form.new_password1 }}
              </div><br>
              <div class="form-group">
              <label for="{{ form.new_password2.label_tag }}</label>
              <input type="password" class="form-control" id="{{ form.new_password2 }}
            </div><br>
            <div class="col text-center">
              <input class="btn btn-raised btn-success" type="submit" value="change"/>
            </div>
              {% csrf_token %}
          </form>
      {% endblock %}
