{% extends "volunteer_activity/base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="container col-sm-6 mx-auto">
  <br><br><h1 style="text-align:center; font-family:LemonMilk; font-size: 27px">Password Recovery</h1><br><br>
    <p class="text-center">Enter your email address below to get password reset instructions.</p><br>
    <form action="." method="post">
        <!-- {{ form.as_p }} -->
        <div class="form-group">
          <label for="{{ form.email.label_tag }}</label>
          <input type="email" class="form-control" id="{{ form.email }}
        </div><br>
        <p class="text-center"><input class="btn btn-success btn-raised" type="submit" value="Submit"></p>
        {% csrf_token %}
    </form>
  </div>
{% endblock %}
