{% extends "volunteer_activity/base.html" %}

{% block title %}Change you password{% endblock %}

{% block content %}
<div class="container col-sm-6">
  <br><br><h1 style="text-align:center; font-family:LemonMilk; font-size: 27px">Change Password</h1><br>
  <div class="row">
      <div class="col">

          <!-- {% if form.errors %}
              <p>Your username and password didn't match. Please try again.</p>
          {% endif %} -->
          <div class="form-group">
          <form action="." method="post">
              {{ form.as_p }}

              <!-- <div class="form-group">
                <label for="{{ form.password.label_tag }}</label>
                <input type="password" class="form-control" id="{{ form.password })
              </div>
              <div class="form-group">
                <label for="{{ form.password.label_tag }}</label>
                <input type="password2" class="form-control" id="{{ form.password2 }}
              </div><br> -->
              <input class="btn btn-raised btn-success" type="submit" value="change"/>

              {% csrf_token %}
          </form>
      {% endblock %}
